.header{
    padding-top: 23px;
    padding-bottom: 16px;

    .header__container{
        display: flex;
        align-items: center;
    }
    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 540px;
    }
    .header__telbtn{
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #00094A;
        text-decoration: none;
        margin-left: 10px;
    }
    .header__dash{
        width: 0;
        height: 22px;
        border: 1px solid #00094A;
        margin-left: 30px;
        margin-right: 32px;
    }
    .header__lang{
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #00094A;
        margin-left: 30px;
    }
    .header__icon{
        margin-left: 6px;
        margin-right: 38px;
    }
    .header__menu{
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #00094A;
        margin-left: 35px;
        margin-right: 10px;
    }


}